<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center; margin-bottom: 25px">
            {{{name}}}, your account was deleted 😢
        </td>
    </tr>
</table>